.sidebar-content {
  width: $sidebar-width;
  height: calc(100vh - 70px);
  background-color: white;
  border-radius: 1px;
  box-shadow: 2px 2px 2px;
}

.sidebar-user {
  display: flex;
  width: $sidebar-width;
  height: 150px;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo-user {
  width: 90px;
}

.sidebar-routes {
  width: 100%;
  height: calc(100vh - 241px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-routes:hover {
  overflow-y: scroll;
}

.sidebar-content span {
  padding: 8px; 
}

.sidebar-acordeon {
  margin: 0 10px;
  width: 210px;
  background-color: white;
  .title-acordeon {
    font-size: 13px;
    background-color: white;
  }
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 13px;
  padding-left: 15px;
  background-color: white;
}

.sidebar-acordeon > .ant-collapse {
  border: none;
  .ant-collapse-item {
    border: none;
  }
  .ant-collapse-content {
    border: none;
    .ant-collapse-content-box {
      padding-left: 25px;
    }
  }
}

@media screen and (max-width : 800px){
  .sidebar {
    width: $sidebar-width-responsive;
  }
  .sidebar-user {
    width: $sidebar-width-responsive;
  }
  .sidebar-content {
    width: $sidebar-width-responsive;
    height: calc(100vh - 60px);
  }
  .open-close:checked ~ .sidebar {
    transform: translateX(-$sidebar-width-responsive);
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    width: 180px !important;
  }
}