.img-fondo {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.facturadirecta.com/img/blog/trabajos-en-casa.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(60%) */
}

.ui.card {
  width: 400px;
}

.login-content {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  width: 100%;
}

.login-item {
  height: 170px;
}

.section-1 {
  width: 45%;
  padding: 20px 40px;
}

.section-2 {
  width: 25%;
  padding: 10px 15px;
}

.input-general {
  margin: 5px 5px;
  width: 250px;
}

.block-2 {
  justify-content: flex-start;
  flex-direction: column;
}

.block-3 {
  width: 50%;
  display: block;
}

.button-content {
  width: 130px;
  height: 20px;
}

/* TOAST  */

.custom-toast-container {
  border-radius: 5px;
}

.custom-toast-body {
  margin: auto 10px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.Toastify__toast {
  border-radius: 6px !important;
}

.buton-social-auth {
  width: 200px;
  background-color: transparent;
  display: flex;
  height: 70px;
}

.button-auth-fb .metro{
  height: 40px !important;
  width: 150px !important;
  background-color: blue !important;
}