.footer {
  // display: flex;
  // justify-content: flex-end;
  position: fixed;
  width: calc(100% - 230px);
  height: 50px;
  right: 0px;
  bottom: 0px;
  line-height: 50px;
  transition: .5s;
  padding: 0px 15px;
  
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-close:checked ~ .footer {
  width: 100%;
}

@media screen and (max-width : 700px){
  .footer{
    display: none;
  }
}