.lista-trabajos {
  border-radius: 6px;
  margin-top: 20px;
  height: 86px;
  overflow: hidden;
  padding: 5px 20px 15px 20px;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
  & .trabajo-header {
    display: flex;
    justify-content: space-between;
  }
  & span{
    font-size: 9px;
    margin-right: 10px;
  }
  & .trabajo-titulo {
    color: #235f00;
    margin: 7px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #63b931;
      transition: .5s;
    }
  }
  & .trabajo-postulado {
    background-color: green;
    height: 28px;
    color: white;
    &:hover {
      background-color: green;
      color: white;
    }
  }
  & .trabajo-boton {
    background-color: white;
    height: 28px;
    transition: ease-out .5s;
    &:hover {
      background-color: green;
      color: white;
      transition: ease .5s;
    }
  }
  & .trabajo-descripcion {
    padding: 0px 10px;
  }
}