.content-view {
  padding: 30px 8% 8px;
}

.content-view .ui.card {
  width: 100% !important;
}

.content-title {
  color: white !important;
  padding-bottom: 15px !important;
}

.card-content-custom > .content {
  min-height: 68vh;
  // height: 75vh;
}

.content-404 {
  padding: 0px 30px;
  height: 80vh;
}

.main-form .fields.inline .field {
  display: flex;
  align-items: center;
  width: 100%;

  .checkbox {
    width: 100%;

    label {
      font-size: 12px;
      font-weight: 700;
      padding-left: 0;

      &:before,
      &:after {
        left: auto;
        right: -27px;
      }
    }
  }

  .to-start {
    align-self: start;
  }

  h5.informative-field {
    margin: 0;
    font-weight: 400;
    font-size: 13px !important;
  }

  label {
    margin-right: 10px !important;
    width: calc(120px - 10px) !important;
  }

  textarea,
  .input,
  .selection,
  .react-datepicker-wrapper {
    width: 200px !important;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  &.disabled {
    opacity: 1;

    label {
      opacity: 1;
    }
  }
}

.job-button {
  position: fixed;
  right: 60px;
  bottom: 80px;
}