.body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #fdffff 55%,$main-color 55%,$main-color 55%,$main-color 55%,#fdffff 55%,$main-color 55%,$main-color 55%,#bee4f8 55%,#bee4f8 55%,$main-color 55%,$main-color 55%,$main-color 55%,$main-color 55%,$main-color 55%,#e1ffff 55%,$main-color 55%);
  transition: .5s;
  margin-left: $sidebar-width;
  right: $sidebar-width;
}

.body-content {
  height: calc(100vh - 106px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}

.open-close {
  display: none;
}

.open-close-label {
  position: absolute;
  transition: .5s;
  z-index: 999;
  top: 20px;
  left: $sidebar-width + 20px;
  cursor: pointer;
}


.open-close:checked ~ .body {
  margin-left: 0px;
  right: 0px;
}

.open-close:checked ~ .open-close-label {
  left: 20px;
  top: 20px;
}

.open-close-label i.icon.sidebar:before {
  color: white !important;
}

.head-body {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  height: 56px;
}

.head-body-left {
  padding-left: 50px;
}

.input-search > input {
  background-color: $main-color !important;
  color: white !important;
  border: none !important;
  outline: none !important;
}

.head-items {
  cursor: pointer;
  color: #d3d3d3 !important;
  transition: .3s;
  font-size: 20px !important;
}

.head-items:hover {
  color: white !important;
}

.header-items-show {
  right: 15px !important;
  position: fixed !important;
  width: 200px !important;
  top: 35px !important;
  z-index: 1000 !important;
}

.ui.segment.fade.down.header-items-show.visible.transition{
  padding: 1rem 0px !important;
}

.ui.segment.fade.down.header-items-show.visible.transition .efect-options {
  padding: 0px 10px;
  margin: 9px 0px;
}

.ui.segment.fade.down.header-items-show.visible.transition .ui.header {
  margin: 0px 20px 20px !important;
}

.efect-options {
  cursor: pointer;
  padding: 0px 10px;
}

.efect-options:hover {
  background-color: #eaeaea;
}

@media screen and (max-width : 800px){
  .head-body-left{
    display: none;
  }
  .head-body {
    justify-content: flex-end;
    padding-right: 0px;
  }
  .main-content {
    overflow-x: scroll;
  }
  .head-body-right > span:nth-child(2n - 1) {
    display: none;
  }
  .body {
    margin-left: $sidebar-width-responsive;
  }
  .open-close-label {
    left: $sidebar-width-responsive + 20px;
    top: 20px;
  }
}


@import "./Trabajos/trabajo"