.sidebar-logo {
  width: $sidebar-width;
  height: 64px;
  background-color: $main-color;
}

.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100vh;
  background-color: $main-color;
  transition:  .5s;
}

.open-close:checked ~ .sidebar {
  transform: translateX(-$sidebar-width);
}

.sidebar-sub-menu-item {
  display: block;
  padding: 4px 0px 4px 9px;
  color: gray;
}

.sidebar-sub-menu-item:hover {
  background-color: #eaeaea;
  color: gray;
}

@import "nav/nav";
